POSTGRES_HOST=aws-0-<region>.pooler.supabase.com
POSTGRES_USER=postgres.<your-project-ref>
POSTGRES_PASSWORD=your_supabase_db_password
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=require
